            .Search-bar {
                flex: 1;
                height: 36px;
                font-size: 17px;
                padding-left: 10px;
                border: 1px solid rgb(192,192,192);
                border-radius: 2px;
                box-shadow: inset 1px 1px 3px rgba(0,0,0, 0.5);
                width: 0;
            }
            .Search-bar::placeholder {
                font-size: 17px;
            }
            .header {
                height: 55px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 100;
                background-color: white;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: rgb(196, 196, 196);
            }
            .left-section {
                display: flex;
                align-items: center;
            }

            .hamburger-menu {
                height: 24px;
                margin-left: 24px;
                margin-right: 24px;
            }
            .youtube-logo {
                height: 20px;
            }
            .middle-section {
                flex: 1;
                margin-left: 70px;
                margin-right: 40px;
                max-width: 500px;
                display: flex;
                align-items: center;
            }

            .search-btn {
                height: 40px;
                width: 70px;
                background-color: rgba(240,240,240);
                border-width: 1px;
                border-style: solid;
                border-color: rgb(192,192,192);
                margin-left: -1px;
                margin-right: 10px;
            }
            .search-btn ,
            .voice-search,
            .upload-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }
            .search-btn .tooltip,
             .voice-search .tooltip,
             .upload-icon-container .tooltip {
                position: absolute;
                background-color: gray;
                color: white;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-right: 8px;
                padding-left: 8px;
                border-radius: 2px;
                font-size: 12px;
                bottom: -30px;
                opacity: 0;
                transition: opacity 0.15s;
                pointer-events: none;
                white-space: nowrap;
            }
            .search-btn:hover .tooltip,
            .voice-search:hover .tooltip,
            .upload-icon-container:hover .tooltip {
                opacity: 1;
            }

            .search-icon {
                height: 24px;
            }
            .voice-search-icon {
                height: 24px;
            }
            .voice-search {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                border: none;
            }
            .right-section {
                width: 180px;
                margin-right: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-shrink: 0;
            }
            .upload-icon {
                height: 27px;
            }
            .youtube-apps-icon {
                height: 27px;
            }
            .notifications-icon {
                height: 27px;
            }
            .notification-container {
                position: relative;
            }
            .notification-count {
                position: absolute;
                top: -2px;
                right: -3px;
                background-color: red;
                color: white;
                font-size: 12px;
                padding-left: 6px;
                padding-right: 6px;
                padding-top: 2px;
                padding-bottom: 2px;
                border-radius: 10px;
            }
            .user-picture  {
                object-position: center;
                width: 32px;
                height: 32px;
                border-radius: 15px;
            }