.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 74px;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(242, 242, 242);
}

.sidebar-link img {
    height: 25px;
    margin-bottom: 6px;
}

.sidebar-link div {
    font-size: 10px;
}